{{extend 'layout.html'}}

<h2>Wedstrijden {{=kalender.jaar}}</h2>

<br>
{{=A("Terug", _href=URL("kalender", "detail", args=kalender.id), _class="btn")}}
{{=A("Nieuwe wedstrijd", _href=URL("wedstrijd", "nieuw", args=kalender.id), _class="btn")}}
{{=A("Importeren", _href=URL("kalender", "importeren", args=kalender.id), _class="btn")}}

<br><br>
{{if wedstrijden:}}
     <table>
         <tbody>
    {{for wedstrijd in wedstrijden:}}
                <tr>
                    <td>{{=wedstrijd_link(wedstrijd.datum, wedstrijd)}}</td>
                    <td>{{=wedstrijd.omschrijving}}</td>
                    <td>{{=wedstrijd.aanvang}}</td>
                    <td>{{=wedstrijd.opmerkingen}}</td>
                </tr>
    {{pass}}
        </tbody>
    </table>
{{pass}}

