{{extend 'layout.html'}}

<h2>Uitslag {{=wedstrijd_string(wedstrijd.datum)}} - {{=wedstrijd.omschrijving}}</h2>

<br>
{{=A("Terug", _href=URL("uitslag", "wedstrijden", args=wedstrijd.kalender), _class="btn")}}
{{=A("Nieuwe lijn", _href=URL("uitslag", "nieuw", args=wedstrijd.id), _class="btn")}}
{{=A("Importeren", _href=URL("uitslag", "importeren", args=wedstrijd.id), _class="btn")}}

<br><br>
{{if uitslagen:}}
     {{totaalReeks1 = 0}}
     {{totaalReeks2 = 0}}
     {{totaalReeks3 = 0}}
     {{totaal = 0}}
     <table>
         <thead>
            <tr>
                <td>Volgorde</td>
                <td>Deelnemer(s)</td>
                <td>Plaats</td>
                <td>Reeks 1</td>
                {{if wedstrijd.aantalreeksen > 1:}}
                    <td>Plaats</td>
                    <td>Reeks 2</td>
                {{pass}}
                {{if wedstrijd.aantalreeksen > 2:}}
                    <td>Plaats</td>
                    <td>Reeks 3</td>
                {{pass}}
                <td>Totaal</td>
                <td>Opmerking</td>
            </tr>
         </thead>
         <tbody>
            {{for uitslag in uitslagen:}}
                {{totaalReeks1 = totaalReeks1 + (0 if uitslag.gewicht1 is None else uitslag.gewicht1)}}
                {{totaalReeks2 = totaalReeks2 + (0 if uitslag.gewicht2 is None else uitslag.gewicht2)}}
                {{totaalReeks3 = totaalReeks3 + (0 if uitslag.gewicht3 is None else uitslag.gewicht3)}}
                <tr>
                    <td>{{=uitslag_link(uitslag.volgorde, uitslag.id)}}</td>
                    <td>{{=uitslag.deelnemer}}</td>
                    <td>{{=uitslag.plaats1}}</td>
                    <td>{{=0 if uitslag.gewicht1 is None else uitslag.gewicht1}}</td>
                    {{if wedstrijd.aantalreeksen > 1:}}
                        <td align="right">{{=uitslag.plaats1 if uitslag.plaats2 is None else uitslag.plaats2}}</td>
                        <td align="right">{{=0 if uitslag.gewicht2 is None else uitslag.gewicht2}}</td>
                    {{pass}}
                    {{if wedstrijd.aantalreeksen > 2:}}
                        <td align="right">{{=uitslag.plaats1 if uitslag.plaats3 is None else uitslag.plaats3}}</td>
                        <td align="right">{{=0 if uitslag.gewicht3 is None else uitslag.gewicht3}}</td>
                    {{pass}}
                    <td>{{=uitslag.totaal}}</td>
                    <td>{{="" if uitslag.opmerking is None else uitslag.opmerking}}</td>
                </tr>
            {{pass}}
         </tbody>
         <tfoot>
            {{totaal = totaalReeks1 + totaalReeks2 + totaalReeks3}}
            <td></td>
            <td>Totaal</td>
            <td></td>
            <td>{{=totaalReeks1}}</td>
            {{if wedstrijd.aantalreeksen > 1:}}
                <td></td>
                <td>{{=totaalReeks2}}</td>
            {{pass}}
            {{if wedstrijd.aantalreeksen > 2:}}
                <td></td>
                <td>{{=totaalReeks3}}</td>
            {{pass}}
            <td>{{=totaal}}</td>
         </tfoot>

    </table>
{{else:}}
        Geen uitslag.
{{pass}}

